
      * {
        font-family: Arial, Helvetica, sans-serif;
      }
      body {
        margin: 0;
        background: linear-gradient(135deg, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
        display: flex;
        align-items: center;
        height: 100vh;
      }

      .gameboard {
        height: 100vh;
        width: 100vh;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        max-height: 60vh;
        max-width: 60vh;
      }

      .color {
        width: 50%;
        height: 50%;
        display: inline-block;
      }

      .left {
        float: left;
      }

      .right {
        float: left;
      }

      .celeste {
        background: #22a6b3;
      }

      .celeste.light {
        background: #7ed6df;
      }

      .violeta {
        background: #be2edd;
      }

      .violeta.light {
        background: #e056fd;
      }

      .naranja {
        background: #f0932b;
      }

      .naranja.light {
        background: #ffbe76;
      }

      .verde {
        background: #6ab04c;
      }

      .verde.light {
        background: #badc58;
      }
      .hide {
        display: none;
      }
      .btn-start {
        cursor: pointer;
        width: 543px;
        height: 120px;
        background: linear-gradient(45deg, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%);
        color: #020303;
        border: none;
        border-bottom: 4px solid #c4c6c7;
        border-radius: 8px;
        font-size: 3.2em;
        position: absolute;
        top: calc(50% - 60px);
        left: calc(50% - 270px);
        transition: 1s;
        outline: none;
      }
    
      .btn-start:active {
        transform: scale(.95);
      }
  